# Python Basic

## Tipe data

In [ ]:
# string
'' ""
"hello"

"a quick brown fox jumped over lazy dog"

"lorem ipsum dolor sit amet. lorem ipsum dolor sit amet."

In [45]:
# contoh string manipulation

sentence = "a quick brown FOX jumped over lazy dog"

# .capitalize()
# sentence.capitalize()

# .lower()/.upper()
# sentence.lower()
# sentence.upper()

# .swapcase()
sentence.swapcase()

'A QUICK BROWN fox JUMPED OVER LAZY DOG'

In [ ]:
# numeric

# integer
1234

# float
1.2 2.3

In [79]:
# contoh integer

# print() -> menampilkan data
# print("adsaf")

print(12312314184721983719387837 + 1232193819381098310893091830918309281 +
      23819837218937218973189738912893231 + 1)

# print(4/0)

1256013656612347844051003553550590350

In [16]:
# contoh float

print(4.)
print(.4e7)

4.0
4000000.0

In [2]:
# sequence (collection)

# list -> square bracket []
[1, 2, 2, 300, 4, 5]
['a', 'b', 'c']
['a', 1, 'b', 2, 'c', 3]

# # tuple -> ()
(1, 2, 3, 4, 5)
(1, 2, 2, 4, 5)

# # range -> fitur bawaan python
range() # untuk mengenerate kumpulan angka

# 1 - 10
# for i in range(1,11):
#     print(i)

1
2
3
4
5
6
7
8
9
10

In [55]:
# contoh list
#  0  1  2  3  4/-1
listAngka = [1, 2, 3, 4, 5]
# print(listAngka[3]) # melihat data di index ke 3 -> 4

# modify data dalam list
listAngka[3] = 404
# print(listAngka[3])
# print(listAngka)

# index minus
listAngka[-1] = "hello"
# print(listAngka)

# slicing
print(listAngka[0:3])
print(listAngka[:3])

# slicing for modifying
listAngka[0:3] = ["one", "two", "three"]
print(listAngka)

# nested list
[1, 2, 3, ["a", "b", "c"]]

[1, 2, 3]
[1, 2, 3]
['one', 'two', 'three', 404, 'hello']

In [62]:
# contoh tuple
#             0  1  2  3  4
tupleAngka = (1, 2, 3, 4, 5)
a = tupleAngka[2]
b = tupleAngka[3]

# packing/unpacking -> syarat: jumlah variable (kiri) == jumlah value/data (kanan)
(a, b, c, d) = (1, 2, 3, 4)
print(a)
print(b)
print(c)

1
2
3

In [8]:
# contoh set

listAngka = [1,2,3,4,5,1,3,3,4]
setAngka = {1,2,3,4,5,1,3,3,4}
# setAngka

# len() -> fitur untuk melihat berapa banyak data di list, tuple, set
len(listAngka)
# len(setAngka)

9

In [28]:
# variable

hello123 = "hello"
hello_123

koleksiAngka = [1, 2, 3, 4, 5]

a = b = c = 300
# or
a = 300
b = 300
c = 300
print(a,b,c)

300 300 300

In [ ]:
# mapping

# dictionary
# air = "udara"

{
    "air": "udara",
    "ground": "tanah",
    "number1": 1,
    "number2": 2,
    "collectionNumber": [2, 4, 5, 10],
}

# nested
{
    "air": "udara",
    "collectionNumber": [2, 4, 5, 10],
    "kamus": {
        "a":"a",
        "b":123,
    }
}

In [68]:
# contoh dictionary

abc = {
    "key1": "hellow",
    "listAngka": [1, 2, 3]
}

# access data -> key
# abc["listAngka"]

# modify data
abc["key1"] = "lorem ipsum dolor sit amet"
# print(abc)

# add new data
abc["angka favorit"] = 99
# print(abc)

{'key1': 'lorem ipsum dolor sit amet', 'listAngka': [1, 2, 3]}
{'key1': 'lorem ipsum dolor sit amet', 'listAngka': [1, 2, 3], 'angka favorit': 99}

In [77]:
# contoh nested dictionary

dictA = {
    "air": "udara",
    "collectionNumber": [2, 4, 5, 10],
    "kamus": {
        "a": "hello",
        "b": 123,
    }
}

# access data collectionNumber[3] menggunakan index 3
# dictA['collectionNumber'][3]

# access data kamus
dictA['kamus']['b'] = 9999
dictA['kamus']['c'] = "new data"
dictA

{'air': 'udara',
 'collectionNumber': [2, 4, 5, 10],
 'kamus': {'a': 'hello', 'b': 9999, 'c': 'new data'}}

In [2]:
# boolean

True/False

benar = True

ZeroDivisionError: division by zero

In [3]:
# contoh boolean

print(123 != 124)

True

In [1]:
# operator

# assignment =
# aritmathic + - * / ** %
# comparison == > >= < <= !=

# contoh modulo (sisa bagi) -> menentukan ganjil/genap
print(5 % 2)

# contoh pangkat **
print(5 ** 2)

# expression (operator + value)
# 1 + 1 # -> expression
# 1 == 2 # -> expression

1
25

contoh